.courosel-img-fix {
    height: 380px;
    background-position: center;
    background-size: cover;
}

.wrapper {
    background:#fff;
    padding:0;
    margin:0 auto;
    max-width: 62rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.28571429em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

.app-head {
    color: #733;
    border-bottom:2px solid #900;
}

.app-post {
    border-bottom:1px solid #900;
}

.app-aim {
    background:#fafafa;

    h2 {
        font-family: Calibri;
    }

    p,ul {
        color:#7b7b7b;
        text-align:left;

    }

    ul {
        margin-left:40%;
    }
}

.app-footer {
    p {
        color: #eee;
    }
}
