.courosel-img-fix {
    height: 380px;
    background-position: center;
    background-size: cover;
}

.wrapper {
    background:#fff;
    padding:0;
    margin:0 auto;
    max-width: 62rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.28571429em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

.app-head {
    color: #733;
    border-bottom:2px solid #900;
}

.app-post {
    border-bottom:1px solid #900;
}

.app-aim {
    background:#fafafa;

    h2 {
        font-family: Calibri;
    }

    p,ul {
        color:#7b7b7b;
    }

    p {
        text-align:left;
    }
}

.app-footer {
    border-top:4px solid #900;
    background:#303030;

    h6 {
        color:#fafafa;
    }

    p,a{
        color: #6c757e;
    }
}


.subHeading {
    padding: 15px;
    text-align: left;
    line-height: 30px;
    background-color: #f8f8f8;
    font-family: Arial;
    font-size: 24px;
    color: rgb(18, 35, 64);
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #D5D5D5;
    cursor: pointer;

    a{
        text-decoration: none;
        color: #0C3165;
    }

    span:first-child {
        font-size: 20px;
        text-decoration: none;
        color: #0C3165;
        border-right: 1px solid rgb(170, 185, 206);
        padding-right: 10px;

        & + span {
            color: rgb(133, 134, 138);
            padding-left: 10px;
            width: auto;
            font-size: 16px;
        }
    }

    span:last-child {
        color: #85868A;
        float: right;
        font-size: 13px;
        font-weight: bold;
    }
}

