.courosel-img-fix {
    height: 380px;
    background-position: center;
    background-size: cover;
}

.wrapper {
    background:#fff;
    padding:0;
    margin:0 auto;
    max-width: 63rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.28571429em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

.app-head {
    color: #733;
    border-bottom:2px solid #900;

    h1 {
        font-size:1.8rem;
        font-family: 'Lato';
    }
}

.app-aim {
    background:#fafafa;

    h2 {
        font-family: 'Open Sans';
        font-size:22px;
    }

    p,ul {
        color:#7b7b7b;
    }

    p {
        text-align:left;
    }
}

.app-footer {
    background:#4c4c4c;
    font-size: 12px;

    h6 {
        color:#FFFFFF;
        font-size: 16px;
    }

    p,a{
        color: #ddd;
    }
    a{
        text-decoration: underline;
    }
    b{
        color:#fff;
    }
    ul{
        color:#fff;
        padding-left:15px;
    }
}

.app-footer-bottom {
    background:#424242;
    color:#888;
    font-size:12px;
    line-height:1.6;

    span {
        color:#fff;
    }
}


.subHeading {
    padding: 15px;
    text-align: left;
    line-height: 30px;
    background-color: #f8f8f8;
    font-size: 24px;
    color: rgb(18, 35, 64);
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #D5D5D5;
    cursor: pointer;

    a{
        text-decoration: none;
        color: #0C3165;
    }

    span:first-child {
        font-size: 20px;
        text-decoration: none;
        color: #0C3165;
        border-right: 1px solid rgb(170, 185, 206);
        padding-right: 10px;

        & + span {
            color: rgb(133, 134, 138);
            padding-left: 10px;
            width: auto;
            font-size: 16px;
        }
    }

    span:last-child {
        color: #85868A;
        float: right;
        font-size: 13px;
        font-weight: bold;
    }
}



.gallery {
    // display: grid;
    // gap: 1rem;
    // grid-template-columns: repeat(4, 23.5%);

    @media (max-width: 60.0626em) {
      grid-template-columns: repeat(3, 32.33%);
    }

    // @media (max-width: 40.0625em) {
    //   grid-template-columns: repeat(2, 49%);
    // }

    // @media (max-width: 30.0625em) {
    //   grid-template-columns: 100%;
    // }

    &__row {
        display:flex;
        align-items: center;
        margin-bottom:1rem;

        &:first-child {
            margin-top:1rem;
        }

        &__image {
            display:block;
            margin-left:1rem;
            position: relative;
            max-height: auto;
            background: #f9f9f9;
            border:1px solid #6c757e;
            overflow: hidden;

            &:first-child {
                margin-left:0;
            }

            img {
                width: 100%;
            }

            p {
                position: absolute;
                bottom: 0;
                display: none;
                width: 100%;
                padding: 0.25rem;
                opacity: 0.8;
                background: #111111;
                font-size: 0.8rem;
                color: #ffffff;
                text-align: center;
            }

            &:hover {
                p {
                    display: block;
                }
            }
        }
    }
}

.app-blog-post {
    cursor:pointer;

    &:hover {
        opacity:0.8;
        transition: all 250ms ease-in-out;
    }

    &-left {
        img {
            width:100%;
            height:auto;
        }
    }

    &-right {
        position:relative;
        background:#fdfdfd;
        border-bottom:2px solid #900;
        border-right:1px solid #f6f6f6;
        border-top:1px solid #f6f6f6;

        h2 {
            font-size: 1.4rem;
            padding-right:1.2rem;
            font-family: 'Lato';

            a {
                text-decoration: none;
                color: #0C3165;
            }
        }

        p {
            text-align:justify;
        }

        div > strong {
            font-size:0.8rem;
            color: #900;
        }

        img {
            position: absolute;
            top:0;
            right:0;
            width:25px;
            height:25px;

            cursor:pointer;
            transition: all 100ms ease-in-out;

            &:hover {
                opacity:0.8;
            }
        }
    }
}

.app-post {
    .app-post-first {
        background: #f3f3f3;
    }

    &-avatar {
        width:50px;
        height:50px;
        border-radius:100%;
    }

    &-name {
        font-size:1rem;
        color: #0C3165;
    }

    &-tags {
        font-size:1rem;
        color:#0C3165;
    }

    &-body {
        font-size:18px;
        line-height:26px;
        font-family: 'Open Sans', Helvetica;
        letter-spacing:-.5px;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #2196F3;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    /* Rounded sliders */
    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.subscription-button {
    background-color:#6772E5;
    color:#FFF;
    padding:8px 12px;
    border:0;
    border-radius:4px;
    font-size:1em
}
